.App {
  text-align: center;
}

.below {
  display: flex;
  justify-content: center;
  padding: 0.9rem 0;
  background-color: #778beb;
}

.record {
  position: relative;
  height: 6rem;
  width: 6rem;
  cursor: pointer;
}

.record-outer {
  height: 6rem;
  width: 6rem;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #fff;
}
.record-inner {
  height: 4rem;
  width: 4rem;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stop {
  position: relative;
  height: 6rem;
  width: 6rem;
  cursor: pointer;
}

.stop-outer {
  height: 6rem;
  width: 6rem;
  background-color: #000;
  /* border: 3px solid #000; */
  border-radius: 50%;
}
.stop-inner {
  height: 3rem;
  width: 3rem;
  background-color: #fff;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.directions {
  font-size: 5rem;
  border-radius: 2rem;
  border: none;
}

.input-container {
  border: 1px solid #dfe1e5;
  border-radius: 2rem;
  margin: 0 1.5rem;
}
