.container {
  display: flex;
  justify-content: space-between;
  background-color: #596275;
  align-items: center;
}
.logo {
  fill: #fff;
}

.logo-container {
  margin-left: 2rem;
  padding: 1.2rem 2.5rem;
  display: flex;
  align-items: center;
}
.title-container {
  margin-right: 2rem;
  font-size: 2rem;
}
.title {
  text-transform: uppercase;
  font-size: 2rem;
  color: #fff;
}
